BN_DATABASE_HOST=
BN_DATABASE_PORT=
BN_DATABASE_USER=
BN_DATABASE_PASSWORD=
BN_DATABASE_NAME=
BN_DATABASE_ENGINE=
BN_DATABASE_MINSIZE=
BN_DATABASE_MAXSIZE=
BN_DATABASE_TIMEOUT=
BN_REDIS_HOST=
BN_REDIS_PORT=
BN_REDIS_NAME=
BN_REDIS_PASSWORD=
